/* DOCUMENT INFORMATION
	- Document: Rikard HTML Chat Bot Theme
	- Version:  0.1
	- Client:   RikardDev
	- Author:   I&R Media
*/
/* COLORS
	- Chat Box              #BDD3DE
	-   2.0                 #97B5C4
	- line break (hr)       #7E97A3
	- channel Info          #3F5866
	- nav                   #2B3A42
	- default p text        #F7F7F7
	- chat p text           #2B3A42
	- pre borders           #ffff99
	- send Button           #DE7300
	- send Button Hover     #FF9000
*/
/* FONTS
	- default body text     Arial, Helvetica Neue, Helvetica, sans-serif
	- subtitle h2 text      Garamond, Hoefler Text, Times New Roman, Times, serif
	- form input text       Cambria, Georgia, Times, Times New Roman, Times, serif
	- default p text        Copperplate Light, Copperplate Gothic Light, serif
	- pre and code          Consolas, Lucida Console, Monaco, monospace
*/
/* ===GLOBAL=== */
* {
    /* background-color: rgba(0, 0, 0, 0.1); */
}

body {
    font-family: 'Mukta', sans-serif;
    color: #F7F7F7;
    display: none;
    background-color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    font-size: 1.25em;
}

.content {
    width: 100%;
    height: auto;
}

.nav {
    background-color: #2B3A42;
    width: 100%;
    height: 10%;
    text-align: center;
    top: 0px;
    position: relative;
    display: flex;
    align-items: center;
}

.nav .link {
    height: 100%;
}

.page1 {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.form_field {
    background: #F7F7F7;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
}

.btn--inside {
    /* margin-left: -96px; */
}

.msg-send {
    background: #DE7300;
    color: #F7F7F7;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    /* padding: 12px 36px; */
    transition: all .25s ease-out;
    cursor: pointer;
    height: 45px;
}

.msg-send:hover {
    background: #FF9000;
}

hr {
    width: 95%;
    border-color: #7E97A3;
}

.logo {
    height: 100%;
    padding: 10px;
    transition: all .25s ease-out;
}

.logo:hover {
    transform: scale(1.1);
}

.bot {
    color: #DE7300;
}

.bot span {
    color: #2b3a42;
}

p {
    padding: 10px;
}

/* ===PAGE 1=== */
.page1 .channel-info {
    overflow: auto;
    height: 20%;
    background-color: #3F5866;
}

.channel-info .still.cell.small-8 {
    text-align: left;
}

.page1 .msg-container {
    /* margin: 10px; */
    text-align: left;
    width: 100%;
    height: 70%;
    overflow: hidden;
    color: #2B3A42;
    padding-bottom: 115px;
}

.page1 .msg-container .fullG {
    height: 100%;
    width: 100%;
}

/* ===USER MESSAGE=== */
.msg-chat {
    background-color: #97B5C4;
    height: 100%;
    overflow-y: scroll;
}

.msg-type {
    background-color: #97B5C4;
    padding: 20px;
    position: absolute;
    height: auto;
    bottom: 0;
}

.msg-msg {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
}

/* .usr-info {
    width: 100%;
    display: flex;
    align-items: center;
} */
.usr-img {
    height: 50px;
}

.usr-name {
    font-weight: bold;
}

.usr-time {
    font-weight: normal;
    font-size: 0.75em;
}

.channel_name {
    text-align: left;
}

.channel-details {
    padding: 5px;
    background: #2b3a42;
}

.channel-details h4 {
    margin: 0;
}

/*

/* ===NAV=== */
.title-bar {
    height: 50px;
    /* width: 40px; */
    cursor: pointer;
    background-color: inherit;
}

.title-bar .menu-icon {
    margin: 0;
    margin: 0 auto;
}

.title-bar-title {
    display: none;
}

.top-bar {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    z-index: 1;
    width: 200px;
}

.nav-bar-left .menu {
    display: flex;
    flex-flow: column;
}

.x {
    padding: 10px;
    margin: 0;
    color: #2B3A42;
    top: 0;
    right: 0;
    z-index: 100;
    font-family: 'Baloo Chettan', cursive;
    line-height: .75em;
    position: absolute;
    cursor: pointer;
}

.dropdown.menu {
    margin-top: 20px;
    height: 100%;
}

/* ===MEDIA QUERIES=== */
@media (min-width:20em) {
    /* Red */
    /* smartphones, iPhone, portrait 480x320 phones */
    /* * {
        background-color: rgba(150, 0, 0, 0.1);
    } */
}

@media (min-width:30em) {
    /* Orange */
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    /* * {
        background-color: rgba(150, 50, 0, 0.1);
    } */
}

@media (min-width:40em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    /* * {
        background-color: rgba(150, 150, 0, 0.1);
    } */
}

@media (min-width:60em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    /* * {
        background-color: rgba(0, 150, 0, 0.1);
    } */
}

@media (min-width:64em) {
    /* big landscape tablets, laptops, and desktops */
    /* * {
        background-color: rgba(0, 150, 150, 0.1);
    } */
}

@media (min-width:80em) {
    /* hi-res laptops and desktops */
    /* h1 {
    color: purple;
  } */
    /* * {
        background-color: rgba(0, 0, 150, 0.1);
    } */
}