* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    width: 100vw;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #1C2121;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

main {
    width: 60rem;
    height: 100%;
    /*margin: 2rem auto;*/
    text-align: center;
    background-color: #F2F2F5;
    box-shadow: 0px 0px 10px 5px black;
}

/*
/
/
/
/
/
*/
/* ---------- C O N T A I N E R ----------*/
#page1 .container {
    width: 100%;
    height: 100%;
    /* background-color: #F2F2F5; */
    background: linear-gradient(to bottom, #f2f2f5 0%, #c3d5e2 100%);
    display: flex;
    flex-flow: row;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#send-msg {
    position: relative;
    display: inline;
    float: right;
    background-color: red;
    transition: all .25s ease-out;
    cursor: pointer;
}

.parts {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    transition: background 0.5s linear, transform 0.5s ease-out;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.info {
    border: 2px solid white;
    padding: 5px;
    width: 80%;
    transition: border 0.5s linear;
}

#partOne {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#partTwo {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#partThree {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#partOne:hover,
#partTwo:hover,
#partThree:hover {
    background-color: white;
    transform: scale(1.05);
    color: black;
}

#partOne:hover .info,
#partTwo:hover .info,
#partThree:hover .info {
    border: 2px solid black;
}